    {% load static %}

<footer class="p-4">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="fw-bold text-white">Connect</h2>
                <div class="d-flex gap-3 justify-content-center">
                  <a href="#">
                    <i class="fab fa-facebook fa-3x text-white"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-whatsapp fa-3x text-white"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-twitter fa-3x text-white"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-instagram fa-3x text-white"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin fa-3x text-white"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-youtube fa-3x text-white"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>
  </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
