.content, footer {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

.card-img-top {
  width: 100% !important;
  height: 15rem !important;
  object-fit: cover;
}

.img-detail {
  height: 25rem !important;
}

.genre-title {
  font-size: 13px;
}

.genre {
  font-size: 13px;
}

.card {
  margin-bottom: 1.5rem;
}

.mycopyright {
  font-size: 14px;
}

.image_detail span {
  font-size: 13px;
}

.image_detail p {
  font-size: 11px;
}


/* Rating */

.rate > input {
  display: none;
}

.rate {
  display: inline-block;
  border: 0;
}

.rate > label {
  float: right;
}

/* Show stars */
.rate > label:before {
  display: inline-block;
  font-size: 1.4rem;
  font-family: FontAwesome;
  content: "\f005";
  margin: 0;
  padding: 0.1rem;
  cursor: pointer;
}

/* half star */
.rate .half:before {
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

/* Click and hover */
input:checked ~ label,  label:hover ~ label {
  color: #ffb503;
}

/* Hover highlight */
input:checked + label:hover, 
input:checked ~ label:hover, 
input:checked ~ label:hover ~ label,
label:hover ~input:checked ~ label {
  color: #cc9000;
}

/* Explore card */
.card {
  min-height: 310px !important;
}

.history .card {
  min-height: 330px !important;
}
.star-rating i {
  color: #ffb503;
}

.all-movies {
  text-decoration: none;
}

.all-movies:hover{
  font-size: 21px !important;
}
@media (max-width: 768px) {
  .card {
    max-width: 60%;
    height: auto;
    margin: auto;
    margin-bottom: 1rem;
  }

  .card-img-top {
    width: 25rem;
    min-height: 12rem;
    object-fit: cover;
  }

  .title {
    text-align: center;
  }

  
}