{% extends 'base.html'%}
{% load static %}
{% block content %}

<section class="content">
  <div class="container pt-7">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% include 'includes/alerts.html' %}
        <div class="row g-0">
          <div class="col-lg-6">
            <div class="card mb-0">
              <img
                src="https://raw.githubusercontent.com/iramamy/Movie-lens-images/main/images/{{ images.item_id }}.jpg"
                class="img-fluid img-detail card-img-top"
                alt="Not available"
              />
            </div>
          </div>
          <div class="col-lg-6 image_detail d-flex flex-column justify-content-between bg-white">
            <div class="py-3">
              <div class="rating text-center">
                <p class="mb-3">
                  <span class="fw-bold"></span>
                </p>
              </div>
              <div class="d-flex flex-column text-center">
                <p class="mb-0">
                  <span class="fw-bold">Title</span>: {{ images.title }}
                </p>
                <p class="mb-0">
                  <span class="fw-bold">Genre</span>: {{ images.genres }}
                </p>
              </div>
              <div class="text-center mt-5 d-flex flex-column">
                <form
                  action="{% url 'submitrating' images.item_id %}"
                  method="POST"
                >
                  {% csrf_token %}

                  <div>
                    <label>
                      {% if is_exist %}
                      <span class="fw-bold">Your rating</span>
                      {% else %}
                      <span class="fw-bold">Rate this movie</span>
                      {% endif %}
                    </label>
                  </div>

                  <div class="rate text-left">
                    <input
                      type="radio"
                      name="rating"
                      id="rating10"
                      value="5"
                      required
                    />
                    <label for="rating10" title="5"></label>

                    <input
                      type="radio"
                      name="rating"
                      id="rating9"
                      value="4.5"
                      required
                    />
                    <label for="rating9" title="4.5" class="half"></label>

                    <input
                      type="radio"
                      name="rating"
                      id="rating8"
                      value="4"
                      required
                    />
                    <label for="rating8" title="4"></label>

                    <input
                      type="radio"
                      name="rating"
                      id="rating7"
                      value="3.5"
                      required
                    />
                    <label for="rating7" title="3.5" class="half"></label>

                    <input
                      type="radio"
                      name="rating"
                      id="rating6"
                      value="3"
                      required
                    />
                    <label for="rating6" title="3"></label>

                    <input
                      type="radio"
                      name="rating"
                      id="rating5"
                      value="2.5"
                      required
                    />
                    <label for="rating5" title="2.5" class="half"></label>

                    <input
                      type="radio"
                      name="rating"
                      id="rating4"
                      value="2"
                      required
                    />
                    <label for="rating4" title="2"></label>

                    <input
                      type="radio"
                      name="rating"
                      id="rating3"
                      value="1.5"
                      required
                    />
                    <label for="rating3" title="1.5" class="half"></label>

                    <input
                      type="radio"
                      name="rating"
                      id="rating2"
                      value="1"
                      required
                    />
                    <label for="rating2" title="1"></label>

                    <input
                      type="radio"
                      name="rating"
                      id="rating1"
                      value="0.5"
                      required
                    />
                    <label for="rating1" title="0.5" class="half"></label>
                  </div>

                  <div>
                    {% if request.user.is_authenticated %}
                    {% if is_exist %}

                    <button class="btn btn-outline-dark" type="submit">
                      Change
                    </button>

                    {% else %}

                    <button class="btn btn-outline-dark" type="submit">
                      Submit
                    </button>

                    {% endif %} {% else %}
                    <span> Please <a href="{% url 'login' %}">Login</a> </span>
                    {% endif %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="liked mt-5">
    <div class="container">
      <h2 class="text-white fw-bold mb-5 title">You might also like</h2>
      <div class="row">
        {% for image in top_12_images %}
        <div class="col-md-2 mb-0">
          <div class="card position-relative">
            <img
              class="card-img-top"
              src="https://raw.githubusercontent.com/iramamy/Movie-lens-images/main/images/{{ image.item_id }}.jpg"
              alt="Not available"
            />
            <div class="px-2 py-3 lh-1">
              <a
                href="{% url 'image_detail' movie_id=image.item_id %}"
                class="stretched-link text-decoration-none genre-title"
                >{{ image.genres}}</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="liked mt-5">
    <div class="container">
      <h2 class="text-white fw-bold mb-5 title">Want something different?</h2>
      <div class="row">
        {% for image in top_6_images %}
        <div class="col-md-2 mb-0">
          <div class="card position-relative">
            <img
              class="card-img-top"
              src="https://raw.githubusercontent.com/iramamy/Movie-lens-images/main/images/{{ image.item_id }}.jpg"
              alt="Not available"
            />
            <div class="px-2 py-3 lh-1">
              <a
                href="{% url 'image_detail' movie_id=image.item_id %}"
                class="stretched-link text-decoration-none genre-title"
                >{{ image.genres}}</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
